<h1>Liste de tous les events</h1>

<div class="container table-responsive">            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th># Attendees</th>
      </tr>
    </thead>
    <tbody>
    <% @event.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date_event %></td>
        <td><%= event.attendees.count %></td>
        <td><%= link_to 'Participer', 
                   subscribe_event_path(event), 
                            method: :post, 
                            data: { confirm: 'We are waiting for you!' } %></td>
        <td><%= link_to "Plus d'informations", event_path(event.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>