<h1>Liste de tous les events</h1>

<div class="container table-responsive">            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th># Attendees</th>
      </tr>
    </thead>
    <tbody>
    <% @event.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.date_event %></td>
        <td><%= event.attendees.count %></td>
          <% if event.attendees.include?current_user %>
            <td><%= link_to 'Se désinscrire', 
                      event_unsubscribe_path(event), 
                                method: :post %></td>
          <% else %>
            <td><%= link_to 'Participer', 
                      event_subscribe_path(event), 
                                method: :post %></td>
          <% end %>
        <td><%= link_to "Plus d'informations", event_path(event.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>