<h2>Information sur l'event : @event.name</h2>
<div class="container table-responsive">            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @event.name %></td>
        <td><%= @event.location %></td>
        <td><%= @event.description %></td>
        <td><%= @event.date_event %></td>
        <td><%= link_to "Modifier", edit_event_path(@event) %></td>
        <td>  <%= link_to 'Delete', 
                   event_path(@event), 
                            method: :delete, 
                            data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    </tbody>
  </table>
</div>